{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Список вопросов{% endblock %}

{% block content %}
    <h1>Questions for Test: {{ test_pk }}</h1>
    <a href="{% url 'question_create' test_pk=test_pk %}">Добавить вопрос</a>
    <ul>
        {% for question in questions %}
            <li>
                <a href="{% url 'question_update' question.pk %}">{{ question.text }}</a>
                <a href="{% url 'question_delete' question.pk %}">Удалить</a>
                <a href="{% url 'answer_list' question.pk %}">Управление ответами</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
