{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Отправка уведомлений{% endblock %}

{% block content %}
    <h1>Отправка уведомлений</h1>
    <form method="post">
        {% csrf_token %}
        <label for="user_id">Выбор пользователя:</label>
        <select name="user_id" id="user_id">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="subject">Тема:</label>
        <input type="text" name="subject" id="subject" required>
        <br>
        <label for="message">Сообщение:</label>
        <textarea name="message" id="message" required></textarea>
        <br>
        <button type="submit">Отправка уведомления</button>
    </form>
{% endblock %}
