{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Список тестов{% endblock %}

{% block content %}
    <h1>Тесты</h1>
    <a href="{% url 'test_create' %}">Добавить тест</a>
    <ul>
        {% for test in tests %}
            <li>
                <a href="{% url 'test_detail' test.pk %}">{{ test.title }}</a>
                <a href="{% url 'test_update' test.pk %}">Редактировать</a>
                <a href="{% url 'test_delete' test.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
