{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Профиль пользователя</h1>
        <div class="row">
            <div class="col-md-4">
                {% if user_profile.profile_picture %}
                    <img src="{{ user_profile.profile_picture.url }}" class="img-fluid rounded-circle mb-3" alt="{{ user.username }}">
                {% else %}
                    <img src="{% static 'images/default_profile.png' %}" class="img-fluid rounded-circle mb-3" alt="{{ user.username }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h2>Информация</h2>
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Имя:</strong> {{ user_profile.first_name }}</p>
                <p><strong>Фамилия:</strong> {{ user_profile.last_name }}</p>
                <p><strong>Группы:</strong>
                    {% for group in groups %}
                        {{ group.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p><strong>Обо мне:</strong> {{ user_profile.bio }}</p>
                <a href="{% url 'user_profile_edit' %}" class="btn btn-primary mt-3">Изменить профиль</a>
            </div>
        </div>
    </div>
{% endblock %}
