{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}{{ user.username }} Профиль{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">{{ user.username }} Профиль</h1>
        <div class="row">
            <div class="col-md-4">
                {% if user_profile.profile_picture %}
                    <img src="{{ user_profile.profile_picture.url }}" class="img-fluid rounded-circle mb-3" alt="{{ user.username }}">
                {% else %}
                    <img src="{% static 'images/default_profile.png' %}" class="img-fluid rounded-circle mb-3" alt="{{ user.username }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h2>About</h2>
                <p>{{ user_profile.bio }}</p>
                <a href="{% url 'user_profile_edit' user.id %}" class="btn btn-primary mt-3">Изменить профиль</a>
            </div>
        </div>
    </div>
{% endblock %}
